.home {
  --cross-pattern: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 64 64'%3E%3Cpath d='M32 16v32M16 32h32' stroke='%23f0f7ff' stroke-width='4'/%3E%3C/svg%3E");
}
.home__feedback {
  padding: 120px 0;
  background-image: var(--cross-pattern);
  background-size: 64px 64px;
  animation: background-flow 10s linear infinite;
}

@keyframes background-flow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 64px 64px;
  }
}

.home__form-grid {
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  gap: 64px;
  align-items: center;
}
.home__feedback h2 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  text-wrap: initial;
}
.home__feedback h2 span {
  color: var(--accent-blue);
}
.home__demo {
  font-size: 12px;
  line-height: 18px;
  color: var(--text-muted);
  margin-top: 24px;
  max-width: 35ch;
}
.home__skip {
  position: fixed;
  top: -100px;
  left: 16px;
  z-index: 20;
  padding: 12px 20px;
  background: white;
}
.home__skip:focus {
  top: 16px;
}
@media (max-width: 1199px) {
  .home__form-grid {
    gap: 32px;
    grid-template-columns: 0.6fr 1fr;
  }
  .home__feedback h2 {
    font-size: 36px;
    line-height: 44px;
  }
}
@media (max-width: 767px) {
  .home__feedback {
    padding: 64px 0;
  }
  .home__form-grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .home__feedback h2 {
    font-size: 32px;
    line-height: 38px;
  }
}
